{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime"
    ],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "env": {
        "commonjs": true,
        "node": true,
        "es6": true,
        "es2022": true
    },
    "rules": {
        "no-useless-escape": 0,
        "no-prototype-builtins": "off",
        "no-unused-vars": "warn",
        "no-debugger": 0,
        "no-console": 0,
        "new-cap": 0,
        "strict": 1,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "eol-last": 0,
        "require-atomic-updates": 0
    }
}
